[options]
addons_path = ./addons,./odoo/addons
data_dir = ./var
logfile = ./var/odoo.log
log_level = info
# db_host commented out to use Unix socket (peer authentication)
db_port = 5432
db_user = YOUR_DB_USER
db_password = YOUR_DB_PASSWORD
db_name = odoo
http_port = 8069
# Увеличиваем лимит времени выполнения HTTP-запросов для больших импортов
# По умолчанию 120 секунд, увеличиваем до 600 секунд (10 минут)
limit_time_real = 600
limit_time_cpu = 300
